$blue: #2680eb;
$black: #000000;
$white: #ffffff;
$lightBlack: #868686;
$lightBlue: #397aca;
$lighterBlue: #83b8f8;
$lineColor: #e6e6e6;
$red: #fc2d2d;
$lightRed: #fa5a5a;
// font weight
$light: 300;
$regular: 400;
$medium: 600;
$bold: 900;

$header_height: 110px;
$navBrandWidth: 180px;
// Shadow
$shadowColor: #9b9b9b;


// background
$sectionBackground: #ffffff70;
$authArth: '../public/Assets/Home_background.jpg';

// Border Color
$inputBorder: 1px solid #d8d8d8de;

// Border Radius
$smallBtnColor: 5px;